<head>
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<div class="banner"></div>
<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container d-flex justify-content-center">
  <form action="/restaurants" method="POST">
    <div class="row d-flex justify-content-center">
      <div class="input-groups-left col-lg-5">
        <div class="input-groups">
          <label for="name">餐廳名稱*</label>
          <input autofocus required class="form-control mb-3" type="text" placeholder="ex: McDonald's" name="name"
            class="input" maxlength="10">
        </div>
        <div class="input-groups">
          <label for="category">餐廳類別*</label>
          <input required class="form-control mb-3" type="text" placeholder="ex: Fast food" name="category"
            class="input" maxlength="10">
        </div>
        <div class="input-groups">
          <label for="image">圖片連結*</label>
          <input required class="form-control mb-3" type="url" placeholder="Image url" name="image" class="input">
        </div>
      </div>
      <div class="input-groups-right col-lg-5">
        <div class="input-groups">
          <label for="location">餐廳地址*</label>
          <input required class="form-control mb-3" type="text" placeholder="Location" name="location" class="input">
        </div>
        <div class="input-groups">
          <label for="phone">電話號碼*</label>
          <input required class="form-control mb-3" type="tel" pattern="[0]{1}[0-9]{9}" placeholder="ex: 0912345678"
            name="phone" class="input">
        </div>
        <div class="input-groups">
          <label for="rating">餐廳評分*</label>
          <input required class="form-control mb-3" type="number" placeholder="ex: 4.5" name="rating" class="input">
        </div>
        <div class="input-groups">
          <label for="description">餐廳概述*</label>
          <input required class="form-control" type="text" placeholder="Description" name="description" maxlength="50"
            class="input">
        </div>
      </div>
    </div>
    <div class="button d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-create">建立</button>
    </div>
  </form>
</div>