body {
  background-color: #f8f0f0;
}

header {
  overflow: hidden;
}

/* main.handlebars */
.navbar {
  position: fixed; 
  width: 100%;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

/* index.handlebars */
.banner {
  position: relative;
  z-index: -1;
  height: 360px;
  width: 100%;
  background: #dddddd center center url('https://cache.marriott.com/marriottassets/marriott/DXBTP/dxbtp-liv-restaurant-6592-hor-feat.jpg');
  background-size: cover;
  /* filter: blur(3px); */
}

.search-bar-outer {
  padding: 0 90px;
}

.search-bar-inner h4 {
  color: #f0ebeb;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #226089;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.text-secondary:hover {
  text-decoration: none;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#add-picture-background {
  width: 100%; 
  height: 100%; 
  padding: 38px; 
  background-color: rgb(221, 217, 217);
}

#add-picture-title {
  color: #fff;
  text-shadow: 3px 2px #9e9999;
}

.fa-plus-circle {
  color: #fff; 
  font-size: 50px; 
  text-shadow: 2px 2px #9e9999;
}

.badge {
  background-color: #4592af;
}

.card img{
  height: 180px;
}

.edit-btn-link {
  text-decoration: none;
}

.edit-btn {
  font-size: 15px; 
  padding: 5px 10px; 
  margin-bottom: 3px; 
  background-color:#4592af; 
  color: #fff;
}

.edit-btn:hover {
  color:#28363b;
  background-color:#4592af; 
}

.btn-delete {
  font-size: 15px; 
  padding: 5px 10px; 
  background-color:#1f4553; 
  color: #fff;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

/* show.handlebars */
.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#show-btn-delete {
  margin-left: 10px;
  font-size: 15px; 
  padding: 5px 10px; 
  background-color:#1f4553; 
  color: #fff;
}

#restaurant-img {
  max-width: 600px;
}

/* edit.handlebars, new.handlebars */
.input {
  color: grey;
}

.btn-create {
  font-size: 15px; 
  padding: 5px 10px;
  margin-bottom: 3px; 
  background-color:#4592af; 
  color: #fff;
}

.btn-save {
  background-color: #b0cdd8; 
  color: #fff;
}

.btn-back {
  margin-left: 10px; 
  background-color:#1f4553; 
  color: #fff;
}

/* login.handlebars, register.handlebars */
.row-login-register {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
